/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: serif;
  font-size: 1.5rem;
}

@media (max-width: 48em) {
  .sidebar-about img {
    display: block;
    margin: 0 auto;
  }
}

.post-title .type {
  color: #b0b0b0;
  background-color: #202020;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem 0.5rem 0.5rem;
}
