{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

  <div class="content container">
    <div class="posts">

    {{ range .Data.Pages }}
      {{ if and (ne .Type "page") (or (and (eq .Type "talk") (gt now .Date)) (ne .Type "talk")) }}
      <div class="post">
        <h1 class="post-title">
          <span class="type">{{ .Type }}</span>
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </h1>
        <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ .Summary }}
      </div>
      {{ end }}
    {{ end }}
    </div>
  </div>

</body>
</html>
